.taskboard{
  height: fit-content;
  box-sizing: border-box;
  padding: 20px;
  font-family: 'font2', sans-serif;
  background-color: white;
  border-radius: 20px;
}

.taskboard .task1-1{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 25px;
}

.taskboard .task1-1 h1{
  font-family: 'font2',sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.task1-2{
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}
.taskboard .task1-1 p{
  background-color: black;
  color: white;
  padding: 12px 20px;
  cursor: pointer;
  border: none;
  border-radius: 30px;
}
.task1-2-card1{
  background-color: #f0f0f0;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 20px;
  cursor: pointer;
}

.task1-2-card1 .card-underline{
  height: 1px;
  background-color: rgb(221, 221, 221);
  width: 100%;
}
.taskboard .task1-2 .task1-2-card1 .card1-title h1 {
  font-family: 'font2',sans-serif;
  font-size: 22px;
}

.task1-2-card1 .card1-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task1-2-card1 .card1-desc p{
  font-size: 14px;
}

.task1-2-card1 .card-lefttime p{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: bold;
  background-color: white;
  width: fit-content;
  padding: 10px 10px;
  border-radius: 20px;
}

.task1-2-card1 .card1-title p{
  color: white;
  margin-right: -20px;
  padding: 5px 15px;
  border-radius: 15px 0 0 15px;
}

@media screen and (max-width:450px) {
    .task1-2-card1 .card1-title p {
        position: relative;
        align-items: end;
        width: 50%;
        padding: 5px 10px 5px 10px;
      }
    
      .card-lefttime {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    
      .card-priority {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
      }
}
@media screen and (max-width:370px) {
  .taskboard {
    width: 90vw;
    /* margin: 0 auto; */
    padding: 10px;
  }
  .tasksboard{
    width: 100vw;
  }
  .card1-title{
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
    .taskboard .task1-1 h1{
    font-size: 25px;
  }
  .card1-desc p{
    text-align: center;
  }
      .task1-2-card1 .card1-title p{
      position: relative;
      align-items: end;
      width: 50%;
      padding: 5px 10px 5px 10px;
      border-radius: 20px;
    }
  
    .card-lefttime{
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
    .card-priority{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
@media screen and (max-width:760px) {
.task1-2{
  display: grid;
  grid-template-columns: 1fr;
}
}

.task1-2 .task1-2-prio{
  width: fit-content;
  padding: 1px 20px 1px 10px;
  border-radius: 10px;
}

.task1-2 .task1-2-prio span{
  animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
  0% {
    opacity: 0.10;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}